@import 'meyer-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

:root {
    --purple-color: #F1D3F2;
    --light-blue-color:#C8EAFC;
    --aqua-blue-color: #C5F5F5;
    --light-green-color: #7aecbb;
    --dark-yellow-color: #FFEBC2;
    --light-yellow-color: #FFF7B4;

    --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

body {
    background-color: #F3F2EC;
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}   

.primary-font {
    font-size: var(--step-5);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.secondary-font {
    font-size: var(--step-4);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.tertiary-font {
    font-size: var(--step-1);
    color: var(--secondary-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.quaternary-font {
    font-size: var(--step-0);
    color: var(--secondary-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: var(--step-2);
}

.flex {
    display: flex;
}

.container {
    padding: 0 .5rem;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 1rem;
}

/* MAIN ================================================== */

.main-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.draw-pad {
    width: 250px;
    height: 250px;
    flex-direction: column;
    touch-action: none;
    border: 2px solid black;
    max-width: 950px;
    max-height: 950px;
}

.toolbar {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;    
  width: max-content;        
  margin: 0;          
  padding: 0;       
  align-self: center;
  height:2rem;
  margin-bottom: 1rem;
}

.tool {
    border: 2px solid black;;
    background-color: #DCDCDC;
    padding: .25rem;
    height: 100%;
    align-content: center;
}

.tool:hover {
    filter: brightness(50%);
}

input {
    width: 25px
}

.sizes-scroll-bar {
    margin: 0;
    padding: 0;
}

.zoom-scroll-bar {
    margin: 0;
    padding: 0;
}

.default-row {
    display: flex;
    flex-grow: 1;
}

.default-cell {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-grow: 1;
}

.default-cell:hover {
  box-shadow: inset 0 0 0 2px #4f46e5;
}

.default-cell-grid-on {
    box-shadow: inset 0 0 0 1px black;
}